/*-- scss:defaults --*/

/* TODO: Customize presentation appearance by setting SCSS variables */
/* See https://quarto.org/docs/presentations/revealjs/themes.html#customizing-themes */

/*-- scss:rules --*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

// Define colors and fonts
$background-color: white;
$title-font: 'Source Sans 3', sans-serif;
$subtitle-font: 'Source Sans 3', sans-serif;
$stanford-red: #80221C; // Stanford red color variant
$stanford-subtitle-red: #961D24;
$stanford-gray: #4D4F53; // Stanford gray color
$stanford-description-gray: #595959;
$stanford-white: #FFFDFD; // Stanford white color

// Import RevealJS default styles
// @import 'reveal.js/css/reveal.scss';

// Title slide styling
.reveal .slides #title-slide {

  // Title
  h1 {
    font-family: $title-font;
    color: #000000;
  }

  // Subtitle
  p.subtitle {
    font-family: $subtitle-font;
    font-variant: small-caps;
    font-weight: 400;
    font-size: 1.4em;
    color: $stanford-subtitle-red;
    // margin-top: 0.5em;
  }

  .quarto-title-author-name, .quarto-title-author-email > a, p.date {
    color: $stanford-description-gray;
  }

  .quarto-title-author-name {
    font-size: 0.8em;
  }

  p.date {
    font-size: 0.6em;
  }
}

.reveal .slides {
  h2 {
    font-family: $title-font;
    color: $stanford-red;
  }

  h3 {
    font-size: 1.1em;
  }

  h4 {
    font-size: 0.9em;
  }
}


// Bottom bar
.reveal div.footer {
    background-color: $stanford-red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;   /* Remove content */
    padding: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.5em; /* Adjust height as needed */
    color: $stanford-white;
    text-align: center;
    line-height: 50px; /* Align text vertically */
    z-index: 2;
}

/* Change z-index to ensure the logo appears. */
.reveal img.slide-logo {
    z-index: 3
}

/* Modify progress bar color */
.reveal .progress {
    color: $stanford-gray;
}

/* Modify the menu color to be white */
.reveal .slide-menu-button .fa-bars::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#{colorToRGB($stanford-white)}" class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/></svg>');
}
  
.reveal .slide-chalkboard-buttons .fa-easel2::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#{colorToRGB($stanford-white)}" class="bi bi-easel2" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 0a.5.5 0 0 1 .447.276L8.81 1h4.69A1.5 1.5 0 0 1 15 2.5V11h.5a.5.5 0 0 1 0 1h-2.86l.845 3.379a.5.5 0 0 1-.97.242L12.11 14H3.89l-.405 1.621a.5.5 0 0 1-.97-.242L3.36 12H.5a.5.5 0 0 1 0-1H1V2.5A1.5 1.5 0 0 1 2.5 1h4.691l.362-.724A.5.5 0 0 1 8 0ZM2 11h12V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5V11Zm9.61 1H4.39l-.25 1h7.72l-.25-1Z"/></svg>');
}

.reveal .slide-chalkboard-buttons .fa-brush::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#{colorToRGB($stanford-white)}" class="bi bi-brush" viewBox="0 0 16 16"><path d="M15.825.12a.5.5 0 0 1 .132.584c-1.53 3.43-4.743 8.17-7.095 10.64a6.067 6.067 0 0 1-2.373 1.534c-.018.227-.06.538-.16.868-.201.659-.667 1.479-1.708 1.74a8.118 8.118 0 0 1-3.078.132 3.659 3.659 0 0 1-.562-.135 1.382 1.382 0 0 1-.466-.247.714.714 0 0 1-.204-.288.622.622 0 0 1 .004-.443c.095-.245.316-.38.461-.452.394-.197.625-.453.867-.826.095-.144.184-.297.287-.472l.117-.198c.151-.255.326-.54.546-.848.528-.739 1.201-.925 1.746-.896.126.007.243.025.348.048.062-.172.142-.38.238-.608.261-.619.658-1.419 1.187-2.069 2.176-2.67 6.18-6.206 9.117-8.104a.5.5 0 0 1 .596.04zM4.705 11.912a1.23 1.23 0 0 0-.419-.1c-.246-.013-.573.05-.879.479-.197.275-.355.532-.5.777l-.105.177c-.106.181-.213.362-.32.528a3.39 3.39 0 0 1-.76.861c.69.112 1.736.111 2.657-.12.559-.139.843-.569.993-1.06a3.122 3.122 0 0 0 .126-.75l-.793-.792zm1.44.026c.12-.04.277-.1.458-.183a5.068 5.068 0 0 0 1.535-1.1c1.9-1.996 4.412-5.57 6.052-8.631-2.59 1.927-5.566 4.66-7.302 6.792-.442.543-.795 1.243-1.042 1.826-.121.288-.214.54-.275.72v.001l.575.575zm-4.973 3.04.007-.005a.031.031 0 0 1-.007.004zm3.582-3.043.002.001h-.002z"/></svg>');
}